.taskContainer {
    display: grid;
    grid-template-columns: 3.25rem 36.5rem 3.25rem;
    background-color: var(--gray-400);
    padding: 1rem 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

.taskContainer>button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;    
}

.taskContainer button:hover {
    color: var(--danger);
    background: var(--gray-500);
    border-radius: 1px;   
}

.taskContainer .normalLine {
    color: var(--gray-100);
}

.taskContainer .lineThrough {
    text-decoration: line-through;
}

.checkboxContainer {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    margin-left: 20px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 3px solid var(--blue);
    border-radius: 50%;
}

.checkmark:hover {
    background-color: rgba(var(--blue), 0.8);
    border: 3px solid var(--blue-dark);
}

.checkboxContainer:hover input~.checkmark {
    background-color: var(--blue-900);
}

.checkboxContainer input:checked~.checkmark {
    background-color: var(--purple-dark);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}